<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>sin & cos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-app="app">

    <div class="container" >

        <div ng-controller="obliczSin">
            <h4>Program wylicza sin(x)</h4>
            <div class="input-field"><input id="kat1" type="number" ng-model="a"/><label for="kat1">Podaj kat w radianach</label></div>
            <div class="input-field"><input id="blad1" type="number" ng-model="b"/><label for="blad1">Podaj blad</label></div>

            <button ng-click="oblicz()" class="waves-effect waves-light btn-large">Oblicz</button>

            <p></p>
            <p ng-repeat="i in kolejneKroki">u<sub>{{$index}}</sub> = <span class="wynik">{{i}}</span></p>
            <p ng-show="kolejneKroki[0]">sin(x) = &sum;u<sub>k</sub> = <span class="suma">{{wynik}}</span></p>
        </div>

<hr />

        <div ng-controller="obliczCos">
            <h4>Program wylicza cos(x)</h4>
            <div class="input-field"><input id="kat2" type="number" ng-model="a"/><label for="kat2">Podaj kat w radianach</label></div>
            <div class="input-field"><input id="blad2" type="number" ng-model="b"/><label for="blad2">Podaj blad</label></div>

            <button ng-click="oblicz()" class="waves-effect waves-light btn-large">Oblicz</button>

            <p></p>
            <p ng-repeat="i in kolejneKroki">u<sub>{{$index}}</sub> = <span class="wynik">{{i}}</span></p>
            <p ng-show="kolejneKroki[0]">cos(x) = &sum;u<sub>k</sub> = <span class="suma">{{wynik}}</span></p>
        </div>
            <fieldset>
                <legend>Informacje</legend>
                <span class="wynik">Wynik u<sub>k</sub></span><br />
                <span class="suma">Suma u<sub>k</sub></span>

            </fieldset>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="controllers.js"></script>
</body>
</html>